<div id="my-spa" 
    asp-prerender-module="ClientApp/dist/boot-server"
    asp-prerender-data="new {
        IsAdministrator = true,
        Cookies = ViewContext.HttpContext.Request.Cookies
    }">
</div>